build/.vs/Zephyr.slnx/FileContentIndex/403d0ab3-09f6-4e49-8b9d-df315752c961.vsidx
build/.vs/Zephyr.slnx/v18/Insiders/Browse.VC.db
build/.vs/Zephyr.slnx/v18/Insiders/Browse.VC.db-shm
build/.vs/Zephyr.slnx/v18/Insiders/Browse.VC.db-wal
build/.vs/Zephyr.slnx/v18/Insiders/Browse.VC.opendb
build/.vs/Zephyr.slnx/v18/Insiders/Solution.VC.db
build/.vs/Zephyr.slnx/v18/Insiders/Solution.VC.db-shm
build/.vs/Zephyr.slnx/v18/Insiders/Solution.VC.db-wal
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/4.3.3/CMakeCXXCompiler.cmake
build/CMakeFiles/4.3.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.3.3/CMakeRCCompiler.cmake
build/CMakeFiles/4.3.3/CMakeSystem.cmake
build/CMakeFiles/4.3.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.3.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.3.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/4.3.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/4.3.3/VCTargetsPath.txt
build/CMakeFiles/4.3.3/VCTargetsPath.vcxproj
build/CMakeFiles/4.3.3/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/4.3.3/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/80e21e9d2869650ee5a9ac3abae13db5/generate.stamp.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/Zephyr.slnx
build/Zephyr/cmake_install.cmake
build/Zephyr/CMakeFiles/generate.stamp
build/Zephyr/CMakeFiles/generate.stamp.depend
build/Zephyr/Zephyr.vcxproj
build/Zephyr/Zephyr.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
